/Dockerfile
/rebuild.sh
/.ci
/.git
/.gitignore
/app/unpackage
/plugins/hbuilder.root
/plugins/jre
/plugins/launcher
/plugins/ls
/plugins/node
/plugins/nodeserver
/plugins/npm
/plugins/uniapp-cli-vite/node_modules/esbuild-darwin*
